body {
	margin: 2em 1em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	background-color: darkslategray;
	color: white;
}

img {
	max-width: 30px;
}

.comment-card-comment,
.comment-card-reply {
	background-color: red;
	border-radius: 8px;
	width: fit-content;
	padding: 1em;
	margin-bottom: 2em;
	display: grid;
	grid-template-columns: 150px 150px;
	grid-template-rows: 50px 1fr 40px;
}

.comment-card-content {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	margin-bottom: 1em;
}

.comment-card-reply {
	margin-left: 2em;
}

.comment-score {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-row-start: 3;
	grid-row-end: 4;
	width: 4em;
	padding: 15px;
	background-color: hsl(228, 33%, 97%);
	font-weight: bold;
	color: hsl(238, 40%, 52%);
	border-radius: 10px;
}

.comment-button {
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 1rem;
	grid-row-start: 3;
	grid-row-end: 4;
	gap: 0.5em;
	color: hsl(212, 24%, 26%);
	font-weight: bold;
	background: none;
	border: none;
	cursor: pointer;
}

.comment-user-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.comment-card-user-info {
	display: flex;
	justify-content: start;
	gap: 1em;
	align-items: center;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

.icon {
	cursor: pointer;
}
